<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="top-box">
      <h1><%= title %></h1>
      <p>Welcome!</p>
      <p><a href="auth/spotify">Login with Spotify</a></p>
    </div>
  </body>
</html>
